@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  width: 1440px;
  height: 1116px;
}

.desconto {
  margin-top: 10px;
  width: 100%;
  height: 23px;
  padding-top: 2px;
  padding-left: 27px;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  background-color: #1cd1b0;
  color: #000000;
}

.title {
  height: 80px;
  background-color: #00669f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.title h1 {
  line-height: 35px;
  padding-top: 27px;
  padding-bottom: 18px;
  padding-left: 26px;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}
.logo {
  padding-left: 10px;
  padding-top: 3px;
}

.form-container {
  position: relative;
  width: 646.32px;
  height: 574px;
  text-align: left;
  margin: auto; /*centraliza o elemento sem precisar usar todos os valores*/
  margin-top: 126px;
}

.form-container span {
  font-weight: bold;
  font-size: 72px;
  font-family: 'Inter', sans-serif;
  padding-top: 13px;
  width: 100%;
  display: inline-block;
}

.form-btn {
  color: #333333;
}
.form-container form {
  max-width: 300px;
  padding-top: 55px;
  position: absolute;
}

form input {
  width: 200%;
  height: 60px;
  margin: 10px 0;
  padding-left: 10px;
  border: solid 1.53px #000000;
  font-size: 20px;
  font-family: 'Karla', sans-serif;
  line-height: 26px;
  color: #000000;
}

.btn {
  margin-top: 59px;
}

form .btn:focus {
  outline: none; /*quando eu clicar no icone N ira aparecer o fundo*/
}

.botoes {
  font-family: 'Karla', sans-serif;
  width: 600px;
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 24px;
}
form .btn {
  width: 200%;
  border: none;
  cursor: pointer;
  height: 54px;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 24px;
  border-radius: 23px;
  background-color: #1cd1b0;
}

#limpar {
  color: #ffffff;
  background-color: #888888;
}

form .registro {
  width: 200%;
  height: 28px;
  font-family: 'Karla', sans-serif;
  margin-top: 50px;
  text-align: center;
  color: #222222;
  font-size: 21.47px;
}

form a {
  text-decoration: none;
}

.footer {
  height: 61px;
  background-color: #00669f;
  margin-top: 252px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

footer p {
  padding-top: 21px;
  color: #fff9f9;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
